
@font-face {
    font-family: 'MontserratBold';
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face{
        font-family: 'MontserratRegular';
        src: url(./fonts/Montserrat-Regular.ttf);
    }
@font-face{
    font-family: 'MontserratBlack';
    src: url(./fonts/Montserrat-Black.ttf);

}
@font-face{
    font-family: 'RobotoRegular';
    src: url(./fonts/RobotoCondensed-Regular.ttf);
}
@font-face{
    
    font-family: 'RobotoBold';
    src: url(./fonts/RobotoCondensed-Bold.ttf);
}
    

body,html {
    background-color: black;
    font-family: monospace;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: none;

}

#container {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%; 
    height: 100%;
   
    color: white;
}
#seccion1{
    margin: 0;
    padding: 0;
    position: absolute;
width: 100%;
height: 1024px;
left: 0px;
top: 0px;

background-color: teal;
}
#menu{
   
    position: absolute;
width: 95px;
height: 100px;
left: 1278px;
top: 60px;

font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: right;

color: #FFFFFF;
list-style: none;
}

#logoContainer {
    position: absolute;
    width: 720px;
    height: 595px;
    left: 370px;
    top: 196px;
    text-align: center;
    background-color: cadetblue;
    object-fit: cover;
 
}
#logoContainer img {
    background-image: url(./photos/logo_v4.png);
   width: 100%;
}

#seccion2{
    position: absolute;
    width: 100%;
    height: 1024px;
    left: 0px;
    top: 1024px;
    background-color: thistle;
}
#seccion3 {
    position: absolute;
    width: 100%;
    height: 1024px;
    left: 0px;
    top: 2048px;
    background-color: wheat;
}
